:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--foreground-color);

    background-color: var(--OBR-dark-blue-trans);
    backdrop-filter: blur(2px);

    height: 100%;
    width: 100%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-color: #242424;
    --foreground-color: white;
    --dark-shadow: rgba(1, 1, 1, 0.35);
    --soft-outline: rgb(65, 65, 65);
    --invert: none;
    --tooltip-background: none;

    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-trans: rgba(30, 34, 49, 0.75);
    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-Purple-Select: rgba(173, 132, 255, 0.75);

    --Picture-Max: 156px;
    --Picture-Percent: 20%;
    --Dialogue-Percent: 80%;
    --Name-Size: 1.5em;
    --Flex-Direction: initial;

    --invert: none;
    --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
}

@media (prefers-color-scheme: light) {
    :root {
        --invert: brightness(75%);
        --invert-click: none;
        --background-color: #e9e9e9;
        --foreground-color: rgb(49, 49, 49);
        --soft-outline: rgb(196, 196, 196);
        --invert: invert(.65);
        --invert-click: none;

        --OBR-offset-fore: rgb(44, 44, 46);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(209, 210, 217);
        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-dark-blue-trans: rgba(255, 255, 255, 0.507);
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --Picture-Percent: 30%;
        --Dialogue-Percent: 70%;
        --Name-Size: 1em;
        --Flex-Direction: column;
    }
}

/* -- Basic Setup */
#sapp {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: var(--Flex-Direction);
    border-radius: 16px;
    border-width: 1px;
    border-color: var(--foreground-color);
    border-style: solid;
}

body {
    margin: 0;
    overflow: hidden;
    /* Prevent scrolling */
    font-family: 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
}


/* -- NORMAL */
.left-column {
    flex: .2;
    display: flex;
}

.right-column {
    flex: .8;
    display: flex;
    flex-direction: column;
}

.upper-part {
    height: 20%;
    width: 90%;
    overflow-x: auto;
    text-overflow: ellipsis;
}

.lower-part {
    height: 80%;
    color: var(--foreground-color);
    border-radius: 8px;
    background-color: var(--OBR-dark-blue-trans);
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    margin-top: 5px;
    padding-left: 10px;
    overflow-y: auto;
    height: 100%;
    white-space-collapse: preserve;
}

/* -- MOBILE --> */
.top-container {
    display: flex;
    flex: .4;
}

.left-top {
    flex: .3;

    width: 30%;
}

.right-top {
    flex: .7;
}

.bottom-container {
    flex: .6;
    color: var(--foreground-color);
    border-radius: 8px;
    background-color: var(--OBR-dark-blue-trans);
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    margin-top: 5px;
    padding-left: 10px;
    overflow-y: auto;
    height: 100%;
    white-space-collapse: preserve;
}

/* -- IMAGE -- */
#imageHolder {
    border: 4px double var(--OBR-Purple-Select);
    border-radius: 4px;
    background-color: var(--dark-shadow);

    display: flex;
    justify-content: center;
    align-items: center;
}

.character-image {
    max-width: 100%;
    max-height: 100%;
}

/* -- CHARACTER NAME */
.character-name {
    font-size: var(--Name-Size);
    width: 85%;
    height: 100%;
    font-weight: bolder;
    padding-left: 5px;
}

/** -- CLOSE ICON */
.mobile-forward-icon {
    padding: 0;
    color: var(--OBR-Purple-Select);
    font-size: larger;
    border-style: solid;
    border-color: var(--foreground-color);
    border-width: 1px;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.forward-icon {
    padding: 0;
    color: var(--OBR-Purple-Select);
    font-size: larger;
    border-style: solid;
    border-color: var(--foreground-color);
    border-width: 1px;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 40px;
    width: 25px;
    height: 25px;
}

.close-icon {
    padding: 0;
    color: var(--OBR-Purple-Select);
    font-size: larger;
    border-style: solid;
    border-color: var(--foreground-color);
    border-width: 1px;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.glow-image {
    animation: glow 1.0s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px rgba(173, 132, 255, 0.5);
        border-color: var(--foreground-color);
    }

    to {
        box-shadow: 0 0 10px rgba(173, 132, 255, 1);
        border-color: rgba(173, 132, 255, 1);
    }
}