:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--foreground-color);
    background-color: var(--OBR-dark-blue-trans);
    backdrop-filter: blur(2px);

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background-color: #242424;
    --foreground-color: white;
    --dark-shadow: rgba(1, 1, 1, 0.35);
    --soft-outline: rgb(65, 65, 65);
    --invert: none;
    --tooltip-background: none;

    --OBR-offset-fore: rgb(230, 230, 238);
    --OBR-offset-back: rgb(49, 49, 65);
    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-trans: rgba(30, 34, 49, 0.75);
    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-Purple-Select: rgba(173, 132, 255, 0.75);

    --invert: none;
    --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
}

@media (prefers-color-scheme: light) {
    :root {
        --invert: brightness(75%);
        --invert-click: none;
        --background-color: #e9e9e9;
        --foreground-color: rgb(49, 49, 49);
        --soft-outline: rgb(196, 196, 196);
        --invert: invert(.65);
        --invert-click: none;

        --OBR-offset-fore: rgb(44, 44, 46);
        --OBR-offset-back: rgb(210, 210, 223);
        --OBR-dark-blue: rgb(209, 210, 217);
        --OBR-light-blue: rgb(231, 233, 238);
        --OBR-dark-blue-trans: rgba(255, 255, 255, 0.507);
    }
}

body {
    overflow: hidden;
    /* Prevent scrolling */
    font-family: 'Arial', sans-serif;
    height: 100%;

    border-radius: 5px;
    border-width: 1px;
    border-color: var(--foreground-color);
    border-style: solid;
}

.dialog-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--foreground-color);
    ;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    /* Make sure the position is relative for absolute positioning of the image */
    background-color: var(--OBR-dark-blue-trans);
}

#imageHolder {
    border: 2px solid var(--OBR-Purple-Select);
    border-radius: 4px;
    background-color: var(--dark-shadow);
    width: 156px;
    height: 156px;
}

.character-image {
    width: 100%;
    height: 100%;
    width: 156px;
    height: 156px;
}

.dialog-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 160px;
}

.character-name {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 5px;
    padding-left: 10px;
}

.dialog-text {
    display: flex;
    margin-top: 5px;
    padding-left: 10px;
    overflow-y: auto;
    height: 100%;
    white-space-collapse: preserve;
}

.dialog-text-body {
    margin-top: 0px;
}

#dragon {
    color: var(--OBR-Purple-Select);
    position: absolute;
    background-color: transparent;
    bottom: -6px;
    right: 35px;
    width: 30px;
    height: 30px;
    filter: var(--invert);
}

.close-icon {
    padding: 0;
    color: var(--OBR-Purple-Select);
    font-size: larger;
    border-style: solid;
    border-color: var(--foreground-color);
    ;
    border-width: 1px;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.clickable:not(.RollerButton) {
    filter: var(--invert);
}

.clickable:active {
    filter: var(--invert-click);
    transform: scale(1.5);
}